@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html,
body,
div,
h1,
p,
a,
img,
strong,
ul,
li,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    vertical-align: baseline;
}

section {
    display: block;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

*,
::before,
::after {
    box-sizing: border-box;
}

@media screen and (max-width: 480px) {
    html,
    body {
        min-width: 320px;
    }
}

html {
    font-size: 18pt;
}

@media screen and (max-width: 1680px) {
    html {
        font-size: 14pt;
    }
}

@media screen and (max-width: 1280px) {
    html {
        font-size: 12pt;
    }
}

@media screen and (max-width: 736px) {
    html {
        font-size: 11pt;
    }
}

@media screen and (max-width: 360px) {
    html {
        font-size: 10pt;
    }
}

body {
    background-color: #fff;
    color: #000;
}

a {
    text-decoration: underline;
}

strong {
    font-weight: 400;
}

p {
    margin: 0 0 2rem;
}

h1 {
    font-weight: 300;
    line-height: 1.375;
    letter-spacing: -0.05em;
    margin: 0 0 1rem;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.2;
}

@media screen and (max-width: 736px) {
    h1 {
        font-size: 2.5rem;
    }
}

input {
    color: #000;
}

a {
    color: #000;
}

strong {
    color: #000;
}

h1 {
    color: #000;
}

.button {
    -webkit-appearance: none;
    border: 0;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .125em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: .75rem;
    max-width: 20rem;
    height: 3.75em;
    line-height: 3.75em;
    border-top-left-radius: 3.75em;
    border-top-right-radius: 3.75em;
    border-bottom-right-radius: 3.75em;
    border-bottom-left-radius: 3.75em;
    padding: 0 2.5em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.button.big {
    font-size: .8rem;
    height: 4em;
    line-height: 4em;
    border-top-left-radius: 4em;
    border-top-right-radius: 4em;
    border-bottom-right-radius: 4em;
    border-bottom-left-radius: 4em;
    padding: 0 3em;
}

.button.wide {
    min-width: 14em;
}

.button {
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px inset;
    color: #000 !important;
}

input[type="text"] {
    -webkit-appearance: none;
    background-color: transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid;
    color: inherit;
    display: block;
    outline: #000;
    padding: 0 .825rem;
    text-decoration: none;
    width: 100%;
}

input[type="text"] {
    height: 2.75rem;
}

*::-webkit-input-placeholder {
    opacity: 1;
}

input[type="text"] {
    border-color: rgba(0, 0, 0, 0.2);
}

*::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.74902) !important;
}

.image {
    border: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    display: inline-block;
    position: relative;
}

.image img {
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

ul {
    list-style: disc;
    margin: 0 0 2rem;
    padding-left: 1rem;
}

ul li {
    padding-left: .5rem;
}

ul.actions {
    list-style: none;
    padding-left: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 1rem 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1rem 0 0;
}

ul.actions.vertical li:first-child {
    padding-top: 0;
}

ul.actions.vertical li > * {
    margin-bottom: 0;
}

@media screen and (max-width: 480px) {
    ul.actions {
        margin: 0 0 2rem;
    }

    ul.actions li {
        padding: 1rem 0 0;
        display: block;
        text-align: center;
        width: 100%;
    }

    ul.actions li:first-child {
        padding-top: 0;
    }

    ul.actions li > * {
        width: 100%;
        margin: 0 !important;
    }
}

.banner.style1 {
    -webkit-align-items: stretch;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    position: relative;
    text-align: left;
    overflow-x: hidden;
}

.banner.style1 .content {
    padding: 7rem 7rem 5rem;
    -webkit-align-self: center;
    -webkit-flex-grow: 1;
    -webkit-flex-shrink: 1;
    width: 50%;
    max-width: 48rem;
    margin: 0 auto;
}

.banner.style1 .image {
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 50%;
}

.banner.style1 .image img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

@media screen and (max-width: 1680px) {
    .banner.style1 .content {
        padding: 5rem 5rem 3rem;
    }
}

@media screen and (max-width: 1280px) {
    .banner.style1 .content {
        padding: 4rem 4rem 2rem;
    }

    .banner.style1 .logo .content {
        font-size: 1.23vw;
    }
}

@media screen and (max-width: 980px) {
    .banner.style1 .content {
        padding: 3.75rem 3rem 1.75rem;
    }
}

@media screen and (max-width: 736px) {
    .banner.style1 .content {
        padding: 2.5rem 2rem .5rem;
    }
}

@media screen and (orientation: portrait) {
    .banner.style1 {
        -webkit-flex-direction: column-reverse;
        text-align: center;
    }

    .banner.style1 .logo {
        padding-top: 1rem !important;
    }

    .banner.style1 .logo .content {
        font-size: 2.55vw !important;
    }

    .banner.style1 .content {
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -webkit-justify-content: center;
        width: 100%;
        max-width: 100%;
    }

    .banner.style1 .image {
        width: 100%;
        max-width: 100%;
        height: 45vh;
    }
}

.banner.style1.fullscreen {
    min-height: 100vh;
}

@media screen and (orientation: portrait) {
    .banner.style1.fullscreen .content {
        min-height: 50vh;
    }

    .banner.style1.fullscreen .image {
        height: 50vh;
    }
}

.banner .image {
    background-color: rgba(0, 0, 0, 0.121569);
}

#wrapper {
    background-color: inherit;
    width: 100%;
    overflow-x: hidden;
}

#wrapper.divided > * {
    box-shadow: rgba(0, 0, 0, 0.0745098) 0 1px 0 0 inset;
}

#wrapper.divided > :first-child {
    box-shadow: none !important;
}

.banner.style1 .image {
    background-size: cover;
    background-repeat: no-repeat no-repeat;
}

.banner.style1 .logo {
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: auto;
    position: relative;
    margin-bottom: auto;
    top: 33%;
}

.banner.style1 .logo img {
    position: relative;
}

.banner.style1 .logo .content {
    position: relative;
    padding: 10px 0 0 12vw;
    width: 100%;
    font-size: 1.25vw;
}

@media screen and (orientation: portrait) {
    .banner.style1 .logo .content {
        font-size: 2.52vw;
        min-height: unset;
        padding: 10px 0 0 23vw;
    }
}

.langswitcher {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    display: inline-block;
    margin-left: 1rem !important;
}

.langswitcher li {
    display: inline-block;
    margin-left: .5rem;
    line-height: 1rem;
}

.langswitcher .active {
    font-weight: 700;
    text-decoration: underline;
}

ul.langswitcher {
    position: absolute;
    top: 30px;
    right: 30px;
}

.langswitcher a {
    text-decoration: none;
}

html,
body,
div,
span,
h1,
p,
a,
img,
strong,
ul,
li,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

section {
    display: block;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

body {
    -webkit-text-size-adjust: none;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@-ms-viewport {
    width: device-width;
}

body {
    -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
    html,
    body {
        min-width: 320px;
    }
}

html {
    font-size: 18pt;
}

@media screen and (max-width: 1680px) {
    html {
        font-size: 14pt;
    }
}

@media screen and (max-width: 1280px) {
    html {
        font-size: 12pt;
    }
}

@media screen and (max-width: 736px) {
    html {
        font-size: 11pt;
    }
}

@media screen and (max-width: 360px) {
    html {
        font-size: 10pt;
    }
}

body {
    background-color: #fff;
    color: #000;
}

body,
input {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.65;
}

a {
    text-decoration: underline;
}

strong {
    font-weight: 400;
}

p {
    margin: 0 0 2rem 0;
}

h1 {
    font-weight: 300;
    line-height: 1.375;
    letter-spacing: -.05em;
    margin: 0 0 1rem 0;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.2;
}

@media screen and (max-width: 736px) {
    h1 {
        font-size: 2.5rem;
    }
}

input {
    color: #000;
}

a {
    color: #000;
}

strong {
    color: #000;
}

h1 {
    color: #000;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: 0;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .125em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: .75rem;
    max-width: 20rem;
    height: 3.75em;
    line-height: 3.75em;
    border-radius: 3.75em;
    padding: 0 2.5em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.button.big {
    font-size: .8rem;
    height: 4em;
    line-height: 4em;
    border-radius: 4em;
    padding: 0 3em;
}

.button.wide {
    min-width: 14em;
}

.button {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
    color: #000 !important;
}

input[type="text"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 4px;
    border: 0;
    border: solid 1px;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 .825rem;
    text-decoration: none;
    width: 100%;
}

input[type="text"] {
    height: 2.75rem;
}

::-webkit-input-placeholder {
    opacity: 1;
}

:-moz-placeholder {
    opacity: 1;
}

::-moz-placeholder {
    opacity: 1;
}

:-ms-input-placeholder {
    opacity: 1;
}

input[type="text"] {
    border-color: rgba(0, 0, 0, .2);
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .75) !important;
}

:-moz-placeholder {
    color: rgba(0, 0, 0, .75) !important;
}

::-moz-placeholder {
    color: rgba(0, 0, 0, .75) !important;
}

:-ms-input-placeholder {
    color: rgba(0, 0, 0, .75) !important;
}

.icon > .label {
    display: none;
}

.image {
    border: 0;
    border-radius: 4px;
    display: inline-block;
    position: relative;
}

.image img {
    display: block;
    border-radius: 4px;
}

ul {
    list-style: disc;
    margin: 0 0 2rem 0;
    padding-left: 1rem;
}

ul li {
    padding-left: .5rem;
}

ul.actions {
    list-style: none;
    padding-left: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 1rem 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1rem 0 0 0;
}

ul.actions.vertical li:first-child {
    padding-top: 0;
}

ul.actions.vertical li > * {
    margin-bottom: 0;
}

@media screen and (max-width: 480px) {
    ul.actions {
        margin: 0 0 2rem 0;
    }

    ul.actions li {
        padding: 1rem 0 0 0;
        display: block;
        text-align: center;
        width: 100%;
    }

    ul.actions li:first-child {
        padding-top: 0;
    }

    ul.actions li > * {
        width: 100%;
        margin: 0 !important;
    }
}





.banner.style1 {
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -moz-justify-content: -moz-flex-end;
    -webkit-justify-content: -webkit-flex-end;
    -ms-justify-content: -ms-flex-end;
    justify-content: flex-end;
    position: relative;
    text-align: left;
    overflow-x: hidden;
}

.banner.style1 .content {
    padding: 7rem 7rem 5rem 7rem;
    -moz-align-self: center;
    -webkit-align-self: center;
    -ms-align-self: center;
    align-self: center;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    width: 50%;
    max-width: 48rem;
    margin: 0 auto;
}

.banner.style1 .image {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    border-radius: 0;
    width: 50%;
}

.banner.style1 .image img {
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -ms-object-fit: cover;
    object-fit: cover;
    -moz-object-position: center;
    -webkit-object-position: center;
    -ms-object-position: center;
    object-position: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

@media screen and (max-width: 1680px) {
    .banner.style1 .content {
        padding: 5rem 5rem 3rem 5rem;
    }
}

@media screen and (max-width: 1280px) {
    .banner.style1 .content {
        padding: 4rem 4rem 2rem 4rem;
    }
}

@media screen and (max-width: 980px) {
    .banner.style1 .content {
        padding: 3.75rem 3rem 1.75rem 3rem;
    }
}

@media screen and (max-width: 736px) {
    .banner.style1 .content {
        padding: 2.5rem 2rem .5rem 2rem;
    }
}

@media screen and (orientation: portrait) {
    .banner.style1 {
        -moz-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner.style1 .content {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        width: 100%;
        max-width: 100%;
    }

    .banner.style1 .image {
        width: 100%;
        max-width: 100%;
        height: 45vh;
    }
}

.banner.style1.fullscreen {
    min-height: 100vh;
}

@media screen and (orientation: portrait) {
    .banner.style1.fullscreen .content {
        min-height: 50vh;
    }

    .banner.style1.fullscreen .image {
        height: 50vh;
    }
}

.banner.style1.image-position-right .image img {
    -moz-object-position: right;
    -webkit-object-position: right;
    -ms-object-position: right;
    object-position: right;
}

.banner .image {
    background-color: rgba(0, 0, 0, .125);
}

#wrapper {
    background-color: inherit;
    width: 100%;
    overflow-x: hidden;
}

#wrapper.divided > * {
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .075);
}

#wrapper.divided > *:first-child {
    box-shadow: none !important;
}

.banner.style1 .image {
    background-repeat: no-repeat;
    background-size: cover;
}

.banner.style1 .logo img {
    position: relative;
}

.banner.style1 .logo .content {
    position: relative;
    padding-left: 30%;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 0;
    width: 100%;
    font-size: 1.2647vw;
    min-height: unset;
}

.langswitcher {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 1rem !important;
    display: inline-block;
}

.langswitcher li {
    display: inline-block;
    margin-left: .5rem;
    line-height: 1rem;
}

.langswitcher .active {
    font-weight: 700;
    text-decoration: underline;
}