{% extends 'partials/with_header.html.twig' %}

    {% set collection = page.collection() %}

    {% block content %}
        <div class="blog-header">
            <h2>{{ page.title }}</h2>
            {{ page.content }}
        </div>
        <!-- Items start here -->
        {% for child in collection %}
            {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
        {% endfor %}
    {% endblock %}