{% embed 'partials/base.html.twig' %}
    {% block header %}
        <header class="header" style="background: #5f9de3;padding-left: 8vw;padding-bottom: 2%;">
            <a href="/">
                <img src="{{ url('theme://images/') ~ '/' ~ theme_config.logo_img }}" style="
                margin: 2% 2% -0.5vw 2%;
                height: auto;
                width: 25%;
            ">
            </a>
            <div class="slogan" style="
                margin-left: 8.5vw;
                font-size: 0.74vw;
            ">
                {{ theme_config.slogan }}
            </div>
            <h1 style="margin: 4vw 0vw -1.9vw 1.9vw">
                <span style="
            background-color: white;
            padding: 10px 40px 0px 30px;">
                    {{ page.title }}
                </span>
            </h1>

        </header>
    {% endblock %}

    {% set collection = page.collection() %}

    {% block content %}
        <div class="wrapper blog">
            {{ page.content }}
            <!-- Items start here -->
                {% for child in collection %}
                    {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true, 'banner_img': header.banner_img} %}
                {% endfor %}
            {% include "forms/form.html.twig" with { form: forms('application-form') } %}

        </div>
    {% endblock %}
{% endembed %}