{% embed 'partials/with_header.html.twig' %}
    {% block content %}
        <div class="blog-header">
            <h2>{{ page.title }}</h2>
        </div>
        <div class="wrapper">
            {{ page.content }}
        </div>
        {{ parent() }}
    {% endblock %}
{% endembed %}