{% embed 'partials/job.html.twig' %}

	{% block content %}
		<div class="blog-content-item grid pure-g-r">
			<div id="item" class="block pure-u-2-3 h-entry">
			    {% include 'partials/job.html.twig' with {'blog':page.parent, 'truncate':false} %}
			</div>
		</div>
	{% endblock %}

{% endembed %}
