{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
		<header class="header" style="height:410px;width:100%;background-image: url({{ page.media[header.logo_img].url }}");>
            {{ page.media[header.logo_img] }}
		</header>
		{{ page.content }}

		<div class="content-wrapper blog-content-list grid pure-g">
			<div id="listing" class="block pure-u-2-3 h-feed">
				{% for child in collection %}
			        {% include 'partials/job.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
			    {% endfor %}
			</div>
		</div>
	{% endblock %}

{% endembed %}


